# Texto sempre com fim de linha LF (padrao do Godot)
* text=auto eol=lf

# Scripts do Windows precisam de CRLF
*.ps1 text eol=crlf

# Binarios
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.svg text
*.wav binary
*.ogg binary
*.mp3 binary
*.ttf binary
*.otf binary
*.woff2 binary
*.tpz binary
*.zip binary
*.exe binary
